h3{
    margin-top: 1rem;
}

.bg_nav{
    background-color: rgb(132,205,238);
}.header_src{
    background-color: white;
    width: 278px;
    max-width: 100%;
    padding-left: 1rem;
    border-radius: 0px 15px 0px 15px;
}
.search_bar{
    border-style:none;
    outline: none;
}.search_btn{
    border-radius: 0px 15px 0px 0px;
}.li_des{
    list-style: none;
}.li_a{
    outline: none;
    text-decoration: none;
    color: black;
}.li_a:hover{
    color: aliceblue;
    background-color: black;
}